import requests 
import re 
x=[]
y=[] 
response = requests.get('http://www.mosigra.ru/') 
a=re.findall(r'(\w*@\w*[.]\w*)',str(response.content)) 
a=set(a) 
i=1
for word in a:
	x.insert(i,word)
	i=i+1 
p=1
b=re.findall(r'http:\/\/www\.mosigra\.ru\/[\w\d:#@%\/;$~_?\+-=\/\.&]*',str(response.content)) 
b=set(b)
for word in b:
	x.insert(p,word)
	p=p+1 
k=1
while k<9:
	response = requests.get(x[k]) 
	a=re.findall(r'(\w*@\w*[.]\w*)',str(response.content)) 
	a=set(a) 
	i=1
	for word in a:
		t=0
		for n in range(1,i):
			if word==x[n]:
				t=1
		if t==0:
			y.insert(i,word)
			i=i+1 
	k=k+1
y=set(y)
print(y)
